.main {
  .main-content {
    /** 表单内容区域的宽度**/
    //.el-form-item__content {
    //  width 300px
    //}
    /** 表单提交，取消按钮的公共样式**/
    .btn-set {
      display: table-cell;
      text-align: center;
      width: 900px;
      padding-bottom: 30px;
      .save-btn, .cancel-btn {
        width: 150px;
      }
    }
    .block {
      display block
    }
    .line-block {
      display inline-block
    }
    .small-input {
      width 100px
      margin 0 10px
    }
  }
}
