/* 改变主题色变量 */
$--color-primary: #ff6e1b;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '../../../node_modules/element-ui/lib/theme-chalk/fonts';

@import "reset.css";
@import "iconfont.css";
@import "common.css";
@import "../../../node_modules/element-ui/packages/theme-chalk/src/index";

/** Carousel走马灯样式 **/
.el-carousel__container {

}
.el-carousel__indicators li .el-carousel__button{
  background-color: #fe6e1b;
}