.el-menu--horizontal>.el-menu-item:hover,
  .el-menu--horizontal>.el-submenu.is-active .el-submenu__title,
  .el-menu--horizontal>.el-submenu:hover .el-submenu__title {
    border-bottom: 5px solid #ff6e1b;
    color: #ff6e1b
  }
  .el-menu-item.is-active {
    color: #ff6e1b
  }

  .el-input-group__prepend {
    color: #fff;
    background: #ddd
  }
  .grey-font {
    color: #aea8ac;
  }
  .save-btn {
    width: 100%;
    background: #fe6e1b;
    border-color: #fe6e1b;
    &:hover, &:active,&:visited,&:focus {
      background: #fe6e1b;
      border-color: #fe6e1b;
    }
  }
  .cancel-btn {
    width: 47%;
    background: #ddd;
    border-color: #ddd;
    &:hover, &:active,&:visited,&:focus {
      background: #ddd;
      border-color: #ddd
    }
  }
