.headmenu {
  .el-menu--horizontal>.el-menu-item:hover,
  .el-menu--horizontal>.el-submenu.is-active .el-submenu__title,
  .el-menu--horizontal>.el-submenu:hover .el-submenu__title {
    border-bottom: 5px solid #ff6e1b;
    color: #ff6e1b
  }
  .el-menu-item.is-active {
    color: #ff6e1b
  }
}
