.three-cloumn {
  min-height calc(100vh - 370px )
  display flex
  flex-flow row nowrap
  justify-content center
  .main {
    width 1000px
    margin 0 auto
    height 100%
    position relative
    .list {
      width 100%
      margin 30px 0
      overflow hidden
    }
    .guess {
      margin 30px 0
      h3 {
        font-weight 600
        margin 10px 0
      }
    }
  }
  .recommand {
    margin 10px
    width 300px
    .menu-contain {
      width 220px
      overflow hidden
    }
  }
}